html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: white;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.4;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  background: #F4F6F7 ;
}

.black {
	height: 40px;
	background: #3498DB;
	border-top: 3px solid black;
}

.head {
  color: #F4F6F7 ;
  background: #3498DB ;
  padding: 12px;
  text-align: center;
  font-size: 2.1vw;
  font-weight: solid;
  height: 11vh;
  border-bottom: 3px solid black;
}

#main-doc header {
  text-align: left;
  margin: 0px;
  color: black;
  font-size: 1.6em;
  font-weight: solid;
}

#navbar ul {
  height: 80vh;
  padding: 0;
  margin-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0px;
}

#navbar li {
  border-top: 1px solid;
  list-style: none;
  position: relative;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
}

#navbar li:last-child {
	border-bottom: 0;
}

#navbar li:hover {
	background: black;
}

#navbar a:hover {
	color: white;
}

#navbar li:first-child {
	border-top: 0;
}

#navbar a {
  display: block;
  padding: 10px 20px;
  color: #3498DB;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 295px;
  padding: 20px;
  padding-right: 0px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-height: 450px) {
#navbar a {
  display: block;
  padding: 10px 20px;
  color: #3498DB;
  text-decoration: none;
  font-size: 5.5vh;
  cursor: pointer;
}

.head {
  height: 11vh;
  font-size: 23px;
}

#navbar ul {
  height: 77vh;
}

#navbar li:last-child {
	border-bottom: 0;
}
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 182px;
  }
  
  .head {
	font-size: 35px;
	padding-top: 18px;
	height: 60px;
  }

  #navbar {
    background-color: #F4F6F7;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
  
  #main-doc header {
	font-size: 1.5em;
  }

@media only screen and (max-width: 500px) {
  #main-doc {
    margin-left: -10px;
  }
  
  #navbar ul {
    border: 1px solid;
    height: 205px;
  }
  
  .head {
	font-size: 30px;
	height: 40px;
	padding-top: 15px;
  }
  
  #main-doc header {
	font-size: 1.3em;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 5px;
    padding-right: 45px;
    max-width: 233px;
	font-size: 9px;;
  }
}
